<ion-view view-title="DETAILS">
    <ion-content class="content--detailproduct has-subheader">
        <div ng-repeat="item in data" class="content__detailproduct">
            <div class="row">
                <ion-slide-box class="col col-50 col-center slidebox__detailproduct">
                <ion-slide>
                <img ng-src="img/product/{{item.img1}}" class="slidebox--detailimage slidebox--detailbutton">
                </ion-slide>
                <ion-slide>
                <img ng-src="img/product/{{item.img2}}" class="slidebox--detailimage">
                </ion-slide>
                </ion-slide-box>
            </div>
            <div class="row">
                <div class="col col-center">
                    <label class="label__namedetail">{{item.name}}</label><br/>
                    <label class="label__pricedetail">${{item.price}}</label>
                </div>
            </div>
            <div class="col col-center">
                <label>Code: {{item.code}}</label><br/>
                <label>Made in: {{item.made}}</label><br/>
                <label>Type: {{item.type}}</label><br/>
            </div>
            <div class="row">
                <div class="col col-center">
                    <button class="button__addtocart" ng-click="addProductItem(item)">
                    <label class="ion-ios-cart-outline"></label>
                    <label class="button__labeladd">ADD TO CART</label>
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>