<ion-view view-title="Home">   
    <ion-content class="content--homeproduct has-subheader">            
        <ion-slide-box class="slidebox">
            <ion-slide>
                <img src="img/caro1.jpg" class="image__homeslidebox">                        
            </ion-slide>
            <ion-slide>
                <img ng-src="img/caro2.jpg" class="image__homeslidebox">                        
            </ion-slide>
            <ion-slide>
                <img ng-src="img/caro3.jpg" class="image__homeslidebox">                        
            </ion-slide>
            <ion-slide>
                <img ng-src="img/caro4.jpg" class="image__homeslidebox">                        
            </ion-slide>
        </ion-slide-box>
        <div class="content--homedetail">
            <img src="img/icon_footer.png" class="image__homeicon">
        </div>
        <div class="content--homedetail">
            <img src="img/home1.jpg" class="image__homecontent">
        </div>
        <div class="content--homedetail">
            <img src="img/home2.jpg" class="image__homecontent">
        </div>
        <div class="content--homedetail">
            <img src="img/home3.jpg" class="image__homecontent">
        </div>
        <div class="content--homedetail">
            <img src="img/home4.jpg" class="image__homecontent">
        </div>
        <div class="content--homedetail">
            <img src="img/home5.jpeg" class="image__homecontent">
        </div>
        <div class="content--homedetail">
            <img src="img/home6.jpg" class="image__homecontent">
        </div>
        <div class="content--homedetail">
            <img src="img/home7.jpg" class="image__homecontent">
        </div>
    </ion-content>
</ion-view>