<ion-view view-title="Home">   
    <ion-content class="content-product has-subheader">            
        <ion-slide-box class="slide-box-ads">
            <ion-slide>
                <img src="img/caro1.jpg" class="img-ads">                        
            </ion-slide>
            <ion-slide>
                <img ng-src="img/caro2.jpg" class="img-ads">                        
            </ion-slide>
            <ion-slide>
                <img ng-src="img/caro3.jpg" class="img-ads">                        
            </ion-slide>
            <ion-slide>
                <img ng-src="img/caro4.jpg" class="img-ads">                        
            </ion-slide>
        </ion-slide-box>
        <div class="title-home">
            <img src="img/icon_footer.png" class="icon-fashion-home">
        </div>
        <div class="title-home">
            <img src="img/home1.jpg" class="img-ads-home">
        </div>
        <div class="title-home">
            <img src="img/home2.jpg" class="img-ads-home">
        </div>
        <div class="title-home">
            <img src="img/home3.jpg" class="img-ads-home">
        </div>
        <div class="title-home">
            <img src="img/home4.jpg" class="img-ads-home">
        </div>
        <div class="title-home">
            <img src="img/home5.jpeg" class="img-ads-home">
        </div>
        <div class="title-home">
            <img src="img/home6.jpg" class="img-ads-home">
        </div>
        <div class="title-home">
            <img src="img/home7.jpg" class="img-ads-home">
        </div>
    </ion-content>    
</ion-view>