<ion-view view-title="Women Fashion">   
    <ion-content class="content--productdetail has-subheader">
        <div class="filter__productprice">
            <label class="item item-input item-select">
                <div class="input-label">
                    Filter by Price:
                </div>
                <select ng-model="choosePrice">
                    <option value="">Choose an option</option>
                    <option value="price">Low - High</option>
                    <option value="-price">High - Low</option>
                </select>
            </label>
        </div>
        <div>
            <div class="labelproduct">
                <lable class="labelproduct__title">{{type}}</lable>
            </div>
        </div>
        <ion-list >
          <ion-item class="item item-thumbnail-left item__backgroundproduct row list-product" ng-repeat="data in data | orderBy: choosePrice">
            <div class="col-40 image__product">
                <img ng-src="img/product/{{data.img1}}" class="image__product">
            </div>
            <div class="col-60 item__detailproduct">
                <h2>{{data.name}}</h2>
                <p class="item__priceproduct">${{data.price}}</p>
                <a ui-sref="app.detail({code: data.code, name: data.name})" class="button__detailproduct">Details</a>
            </div>
          </ion-item>
        </ion-list>
    </ion-content>
</ion-view>