<ion-view view-title="Search">   
    <ion-content class="content--productdetail has-subheader">
        <div>
            <div class="labelproduct">
                <lable class="labelproduct__title">Search Result</lable>
            </div>
        </div>
        <ion-list >
          <ion-item class="item item-thumbnail-left item__backgroundproduct row list-product" ng-repeat="data in data | filter: {name: name}">
            <div class="col-40 image__product">
                <img ng-src="img/product/{{data.img1}}" class="image__product">
            </div>
            <div class="col-60 item__detailproduct">
                <h2>{{data.name}}</h2>
                <p class="item__priceproduct">${{data.price}}</p>
                <a ui-sref="app.detail({code: data.code})" class="button__detailproduct">Details</a>
            </div>
          </ion-item>
        </ion-list>
    </ion-content>
</ion-view>