.slidebox{
  margin-top: 12px
}
.content--homedetail{
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}
.content--homeproduct{
  bottom: 44px;
}
.image__homeslidebox{
  width: 100%;
}
.image__homecontent{
  width: 95%;
}
.image__homeicon{
  width: 80%;
}