.menu-header {
  background-color: black; }

.inp-search {
  height: 20px !important;
  margin-top: 4px;
  width: 190px;
  margin-left: 10px; }

.header-title {
  background-color: black !important; }

.head-title {
  margin-top: 2px;
  width: 100% !important;
  text-align: center;
  color: white; }

.head-title-bgr {
  background-color: black !important; }

.menu-title {
  font-size: 20px;
  font-weight: bold; }

.item-product {
  margin-left: 15px;
  font-size: 15px; }

.icon-product {
  float: right;
  font-size: 15px; }

.title-product {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px; }

.label-title-product {
  font-size: 20px;
  font-weight: bold; }

.price-product-list {
  color: red !important; }

.img-product {
  text-align: center;
  height: 100px;
  margin-top: 1.5px; }

.list-product {
  margin: 0 !important;
  padding-right: 0 !important; }

.content-product-list {
  margin-top: 55px; }

.bgr-item-product {
  padding-left: 0 !important; }

.myButton {
  background-color: lightgray;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-size: 14px;
  padding: 5px 15px;
  text-decoration: none;
  margin-top: 15px; }
  .myButton:hover {
    background-color: #808080; }
  .myButton:active {
    position: relative;
    top: 1px; }

.icon-toggle {
  float: right; }

.lb-item {
  margin-left: 10px;
  font-size: 15px;
  color: black;
  font-style: normal;
  text-decoration: none; }

.lb-icon-item {
  margin-left: 20px;
  font-size: 15px; }

.span-bag-icon {
  top: -23px !important;
  right: 2.5px !important;
  color: red; }

.home-icon {
  font-size: 31px;
  margin-left: 15px;
  color: black; }

.home-div {
  padding: 7px 0; }

.img-detail {
  width: 100%; }

.div-name {
  margin-left: 30px;
  text-align: center; }

.detail-name {
  font-size: 21px;
  color: black; }

.detail-price {
  font-size: 20px;
  color: red;
  font-weight: bold; }

.detail-product-content {
  margin-left: 30px;
  margin-top: 10px; }

.button-add-cart {
  width: 155px;
  margin-top: 18px;
  background-color: lightgray;
  height: 35px;
  padding-right: 10px; }

.button-ico-add {
  margin-left: 12px; }

.title-button-ico {
  margin-left: 15px; }

.label-button-add {
  font-size: 13px;
  margin-left: 10px;
  padding-right: 6px; }

.popup-title {
  color: blue !important; }

.popup-body {
  color: black !important;
  text-align: center; }

.tab-footer {
  padding-top: 0 !important; }

.icon-fb {
  color: #3b5998; }

.icon-youtube {
  color: red; }

.icon-twitter {
  color: #1da1f2; }

.div-button-cart {
  text-align: center; }

.div-image-cart {
  text-align: center;
  margin-left: 25%; }

.search-field {
  padding: 0 !important; }

.filter-price {
  margin-top: 12px; }

.icon-insta {
  color: #8f634e; }

.image-cart {
  margin-left: 10px !important; }

.content-cart {
  margin-left: 4% !important;
  margin-top: 10px;
  text-align: center; }

.icon-remove {
  font-size: 20px;
  color: red !important; }

.content-quantity {
  margin-left: 2% !important;
  margin-top: 10px;
  text-align: center; }

.total-price {
  float: right;
  margin-right: 5px; }

.label-total {
  font-size: 15px;
  font-weight: bold; }

.label-total-price {
  font-size: 15px;
  font-weight: bold;
  color: red; }

.div-icon-payment {
  margin-left: 10px; }

.icon-card {
  font-size: 20px; }

.icon-placeholder {
  font-size: 24px; }

.button-pay {
  width: 95%; }

.div-button-pay {
  text-align: center;
  margin-top: 10px; }

.err-numcart {
  width: 100%;
  text-align: center; }

/*.slide-box-ads {
  margin-top: 12px; }

.icon-fashion-home {
  width: 80%; }

.img-ads-home {
  width: 95%; }

.img-ads {
  width: 100%; }

.content-product {
  bottom: 44px; }

  .title-home {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px; }*/